* {box-sizing: border-box;}
body {font-family:'Work Sans', sans-serif; background-image: url(IMG/ogr-tlo03.jpg);
      margin: 0; padding: 0; font-size: 13px; line-height: 15px; color: black;}
.main-0 {
    display: flex; 
    justify-content: center;
    border: 1px black solid; 
    flex-direction: column;
	font-size: 16px; 
	line-height: 21px; 
	color: black;
}
.container-main {
    display: flex; 
    justify-content: center;
    border: 1px black solid; 
    flex-direction: row;
	font-size: 16px; 
	line-height: 21px; 
	color: black;
}
.main-1 {
    display: flex; 
    justify-content: center;
    border: 1px black solid; 
    flex-direction: row;
	font-size: 16px; 
	line-height: 21px; 
	color: black;
}
.main-1-left {
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: #F4EAB3;
    margin: 10px 10px 10px 10px;
    padding: 20px 20px 20px 20px;
    border: 1px black solid; 
	font-size: 16px; 
	line-height: 21px; 
	color: black;
}
.main-1-right {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color:#F4EAB3;
    margin: 10px 10px 10px 10px;
    padding: 20px 20px 20px 20px;
    border: 1px black solid; 
	font-size: 16px; 
	line-height: 21px; 
	color: black;
}
.container-left {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #F4EAB3;
    margin: 10px 10px 10px 10px;
    padding: 20px 20px 20px 20px;
	font-size: 16px; 
	line-height: 21px; 
	color: black;
}
.i1{transition: transform .2s;}
.i1:hover{transform: scale(1.5);}



.container-center {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #F4EAB3;
    margin: 10px 10px 10px 10px;
    padding: 20px 20px 20px 20px;
	font-size: 16px; 
	line-height: 21px; 
	color: black;
}
.container-right {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #F4EAB3;
    margin: 10px 10px 10px 10px;
    padding: 20px 20px 20px 20px;
	font-size: 16px; 
	line-height: 21px; 
	color: black;
    border: 2px solid red;
}
img {width: 100%;}
.i1 {width: 100%; }
.i2 {width: 60%; }


